<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-toolbar color="primary">
  <h1>
    Rest Cert - Angular Frontend
  </h1>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/employees">Directory</button>
  <button mat-button routerLink="/directory">Org Chart</button>
</mat-toolbar>

<router-outlet></router-outlet>
