<head>
  <link rel="stylesheet" href="directory.component.css">
</head>
<div style="padding: 13px;">
  <button (click)="treeControl.collapseAll()">Collapse All</button>
  &nbsp;
  <button (click)="treeControl.expandAll()">Expand All</button>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <button mat-icon-button disabled></button>
      {{node.name}} - {{node.id}}
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.name}} - {{node.id}}
    </mat-tree-node>
  </mat-tree>
</div>
